.bg-header{
    background-color:  #9fdd24;
    text-align: center;
    color: #7e02f1;
    padding: 30px 0px;
    margin-bottom: 30px;
    justify-content: around;
    display: flex;
}
.bg-header img{
    width: 50vw;
}