body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0 1vw;
}
input{
  padding: 10px 30px;
  font-size: 20px;
  margin-top: 30px;
  width: 50%;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
}
select {
  padding: 10px 5px;
  border-left: none;
  border-top: none;
  border-right: none;
  font-size: 20px;
  outline: none;
}
